<div class="login-wrapper">
    <div class="icon-title">
        <mat-icon class="account-icon">account_circle</mat-icon>
        <h1>Sign in</h1>
    </div>
     <form [formGroup]="loginForm" class="login-form" >

        <mat-form-field class="text-form-field" appearance="outline">
            <mat-label>User name</mat-label>
            <input matInput type="text"  placeholder="User name" formControlName="userName">            
        </mat-form-field>

         <mat-form-field class="text-form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password"  placeholder="Password" formControlName="password">            
        </mat-form-field>
        <div class="remember-password-recovery">
            <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
            <button mat-button>Forget password?</button>
        </div>

        <button class="login-button" (click)="login()" [disabled]="!loginForm.valid" mat-flat-button color="primary">Log in</button>
        <div style="display: flex; justify-content: center; align-items: center;">
            <p style="margin: 0">Not registered?</p>
            <button style="text-decoration: underline;" mat-button routerLink="/auth/register" >Create an account!</button>
        </div>
     </form>
</div>
