/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-sidenav-content {
    padding: 20px;
}

.leaflet-marker-icon{
    width: 38px !important
}
