.create-form{
  display: flex;
  flex-direction: column;
}

.map{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  height: 250px;
}

.location{
  display: flex;
  align-items: center;
  input{
    flex: 1;
  }
}

