<div class="create-wrapper">
    <div class="icon-title">       
        <h1>Create an Incident</h1>
    </div>
     <form [formGroup]="createForm" class="create-form" >

        <mat-form-field class="text-form-field" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" placeholder="Provide a title" formControlName="title">            
        </mat-form-field>

        <mat-form-field class="text-form-field" appearance="outline">
            <mat-label>Description</mat-label>
           <textarea matInput 
            placeholder="Provide brief description" 
           formControlName="description">
        </textarea>   
        </mat-form-field>    
        
         <mat-form-field class="text-form-field" appearance="outline">
            <mat-label>Location</mat-label>
             <input matInput type="text" placeholder="Latitude" formControlName="location">       
        </mat-form-field>
         
     </form>

      <div class="map">
        <app-leaflet-map  [showEditor]="true"
        [canAddIncidentMarker]="createForm.valid" 
        [title]="createForm.controls.title.value"
         (onMapClick)="onMapClick($event)"></app-leaflet-map>
      </div>      

      <div style="display: flex;">
          <button colors="primary" style="margin-right: 20px" 
           class="create-button" (click)="create()" [disabled]="!createForm.valid" mat-raised-button color="primary">Create</button>
         
          <button color="accent" mat-flat-button (click)="Cancel()" >Cancel</button>      
        </div>
        
</div>
