.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}


.tool-bar{
  display: flex;
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 999;
  color: #3f51b5;
  .mat-icon{
    height: 52px;
    width: 36px;
    font-size: 50px;
  }
  .mat-button{
     margin: 0;
    min-width: 50px;
    padding: 0;
  }
}