<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>

    <div class="tool-bar">
      <button *ngIf="showEditor" (click)="edit()" mat-button class="draw-tool">
       <mat-icon>edit_location</mat-icon>
    </button>
      <button *ngIf="showEditor" (click)="delete()" mat-button class="draw-tool">
       <mat-icon>delete</mat-icon>
    </button>
     
    </div>    
  </div>
</div>
