.register-wrapper{
    width: 60%;
    max-width: 600px;
    margin: auto;   
}
.register-form{
    display: flex;
    flex-direction: column;
}
.remember-password-recovery{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accessory{
    width: 20%;
    margin: auto;
}

.icon-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.account-icon{
    font-size: 3em;
    width: 50px;
    height: 50px;
    color: #4051b5;
    margin: 20px;
}
.register-button{
    margin: 3em 0 1em 0;
}

@media screen and (max-width: 600px) {
  .register-wrapper{
      width: 100%;
  }
}