<div class="register-wrapper">
    <div class="icon-title">
        <mat-icon class="account-icon">account_circle</mat-icon>
        <h1>Register an account</h1>
    </div>
     <form [formGroup]="registerForm" class="register-form" >

        <mat-form-field class="text-form-field" appearance="outline">
            <mat-label>Full name</mat-label>
            <input matInput type="text"  placeholder="Full name" formControlName="fullName">            
        </mat-form-field>

        <mat-form-field class="text-form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email"  placeholder="Email" formControlName="email">            
        </mat-form-field>

         <mat-form-field class="text-form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password"  placeholder="Password" formControlName="password">            
        </mat-form-field>

        <mat-form-field class="text-form-field" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password"  placeholder="Confirm Password" formControlName="confirmPassword">            
        </mat-form-field>    
        
         <button class="register-button" (click)="register()" [disabled]="!registerForm.valid" mat-flat-button color="primary">Create</button>
           <div style="display: flex; justify-content: center; align-items: center;">
             <p style="margin: 0">Already have account?</p>
            <button style="text-decoration: underline;" mat-button routerLink="/auth/login" >Log in into account!</button>
        </div>
        
     </form>
    
</div>
