.badwam-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.badwam-is-mobile .badwam-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.badwam-app-name {
  margin-left: 8px;
}

.badwam-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}
.badwam-sidenav-container h1{
    margin: 0 0 0 10px;
}

.badwam-is-mobile .badwam-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.badwam-container .mat-sidenav{
    width: 200px;
}

.issue-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.issue-item .mat-button{
    padding: 0;
    min-width: 30px;
    width: 30px;
    font-size: 1em;
}
.issue-item .mat-icon{
    color: orangered;
}

.add-button{
  position: absolute;
  left: 20%;
  bottom: 10px;
}