<h2>{{title}}</h2>

<h4>{{msg}}</h4>
<div class="commands">
  <button color="primary" (click)="respond('Yes')" color="primary" *ngIf="responseRequired" mat-raised-button>Yes</button>
  <button color="accent" (click)="respond('No')" color="warn" *ngIf="responseRequired" mat-raised-button>No</button>
  <button color="primary"  (click)="respond()" *ngIf="!responseRequired" mat-raised-button>OK</button>
</div>